<!-- posts/index.html -->
{% extends 'base.html' %}
{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block content %}
  <div class="container">        
    <article>
      <p>
        {{ group.title }}
      </p>
      {%if posts%}
        {% for post in posts %}
           <ul>
           <li>
      <!-- запрашиваем имя автора из бд -->
             Автор: {{ post.author.get_full_name }}
           </li>
           <li>
      <!-- запрвшиваем из бд дату публикации и фильтруем -->
             Дата публикации: {{post.pubdate|date:"d E Y"}}
           </li>
           </ul>      
      <!-- запршиваем из бд текст поста -->
           <p>{{post.text}}</p>
           {% if not forloop.last %}<hr>{% endif %}
           {% endfor %}
      </article>
  <!-- под последним постом нет линии -->
  </div>  
      {% else %}
        <p>нет записей</p>
      {% endif %}
{% endblock %} 
